*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  COMMON */

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}

.container-full{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.content{
       
}

.square{
    background-color: red;
    border: 1px black solid;
    width: 100%;
    height: calc(100vw / 6);
}

img{
    max-width: 100%;
}

button{
    padding: 5px 10px;
    border: none;
    background-color: white;
}



/* HEADER */

header{
    width: 100%;
}
header ul{
    list-style-type: none; 
}

li a{
    text-decoration: none;
    padding: 0 10px;
}


/* SECTION COLUMN */

.col-20{
    width: 20%;
}

.col-30{
    width: 30%;
}

.col-33{
    width: calc(100% / 3 );
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}

.fix-gap .col-33{
    width: calc(100% / 3 - 20px );
}

.fix-gap .col-60{
    width: calc(60% - 30px );
}


/* SECTION HEIGHT*/

.height-75{
    height: 75px;
}

.height-400{
    height: 400px;
}

#height-full{
    height: 100%;
}

/* SECTION BACKGROUND */

/* .bg-header{
    background-color: aliceblue;
} */

.bg-white{
    background-color: #fff;
}
.bg-lightblue{
    background-color: lightblue;
}

.bg-footer{
    background-color: darkslategray;
}

.bg-img{
    background-color: lightgreen;
}
.bg-write{
    background-color: lightcoral;
}

.bg-title{
    background-color: lightgoldenrodyellow;
}

.bg-blue{
    background-color: rgb(34, 105, 236);
}


/* SECTION FONT MODELLING */

.fc-grey{
    color: grey;
}

.fc-white{
    color: white;
}

.fs-big{
    font-size: 70px;
}

.short{
    width: 25%;
}

.big{
    width: 100%;
}
/* SECTION FLEXBOX AND POSITIONING */

.ta-center{
    text-align: center;
}
.f-end{
    justify-content: flex-end;
}

.f-wrap{
    display: flex;
    flex-wrap: wrap;
}

.ai-center{
    align-items: center;
}


.fixed{
    position: fixed;
    z-index: 1;
}

.relative{
    position: relative;
}
/* SECTION MARGIN , PADDING , GAP*/

.margin-20{
    margin: 20px;
}

.margin-y-20{
    margin: 20px 0;
}

.margin-100{
    margin-top: 100px;
}

.margin-list{
    margin: 25px;
}

.padding-y-20{
    padding: 20px 0;
}

.padding-y-5{
    padding: 5px 0;
}

.padding-top-80{
    padding-top: 80px;
}



.gap-20{
    gap: 30px;
}

.border{
    border: 1px solid gray;  
}
/* SECTION LIST */

.user{
    list-style: url(../img/user.svg);
}

.check-blue{
    list-style: url(../img/check.svg);
}